<div class="container">
  <h1>Coaching</h1>
</div>
<div class="container">
  <h2><%= @question %></h2>
</div>
<div class="container">
  <h2><%= @answer %></h2>
</div>
<%= link_to "Add a new question" , ask_path %>
